{% load static %}

<script src="{% static 'js/sweetalert2.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script src="{% static 'js/dependencies/alpinejs.min.js' %}"></script>
<script src="{% static 'js/dependencies/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/dependencies/plyr.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/ajax/toggle_like_video_course_ajax.js' %}"></script>
<script src="{% static 'js/ajax/register_video_course_ajax.js' %}"></script>
<script src="{% static 'js/ajax/toggle_like_comment_ajax.js' %}"></script>
<script src="{% static 'js/reply_comment.js' %}"></script>
<script src="{% static 'js/submit_comment_deletion.js' %}"></script>
<script src="{% static 'js/log_out_confirmation.js' %}"></script>
<script src="{% static 'js/log_in_first_sweetalert2.js' %}"></script>
<script src="{% static 'js/ajax/toggle_cart_ajax.js' %}"></script>
<script src="{% static 'js/ajax/toggle_follow_ajax.js' %}"></script>
