{% load static %}

<!-- user:menus -->
<ul class="flex flex-col space-y-3 bg-secondary rounded-2xl p-5">
    <!-- Profile Detail Page -->
    <li>
        <a href="{% url 'account:profile' slug=request.user.username %}"
           class="w-full h-11 inline-flex items-center text-right gap-3 rounded-full px-4 {% if request.resolver_match.url_name == 'profile' %}bg-primary text-primary-foreground{% else %}bg-background text-muted hover:bg-primary hover:text-primary-foreground transition-colors{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                 class="w-5 h-5">
                <path fill-rule="evenodd"
                      d="M1.5 7.125c0-1.036.84-1.875 1.875-1.875h6c1.036 0 1.875.84 1.875 1.875v3.75c0 1.036-.84 1.875-1.875 1.875h-6A1.875 1.875 0 0 1 1.5 10.875v-3.75Zm12 1.5c0-1.036.84-1.875 1.875-1.875h5.25c1.035 0 1.875.84 1.875 1.875v8.25c0 1.035-.84 1.875-1.875 1.875h-5.25a1.875 1.875 0 0 1-1.875-1.875v-8.25ZM3 16.125c0-1.036.84-1.875 1.875-1.875h5.25c1.036 0 1.875.84 1.875 1.875v2.25c0 1.035-.84 1.875-1.875 1.875h-5.25A1.875 1.875 0 0 1 3 18.375v-2.25Z"
                      clip-rule="evenodd"></path>
            </svg>
            <span class="font-semibold text-xs">پیشخوان</span>
        </a>
    </li>

    <li>
        <a href="{% url 'account:taught_videos' slug=user.slug %}"
           class="w-full h-11 inline-flex items-center text-right gap-3 rounded-full px-4 {% if request.resolver_match.url_name == 'taught_videos' %}bg-primary text-primary-foreground{% else %}bg-background text-muted hover:bg-primary hover:text-primary-foreground transition-colors{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5">
                </path>
            </svg>
            <span class="font-semibold text-xs">دوره‌‌های ویدئویی تدریس شده</span>
        </a>
    </li>

    <li>
        <a href="{% url 'account:taught_pdfs' slug=user.slug %}"
           class="w-full h-11 inline-flex items-center text-right gap-3 rounded-full px-4 {% if request.resolver_match.url_name == 'taught_pdfs' %}bg-primary text-primary-foreground{% else %}bg-background text-muted hover:bg-primary hover:text-primary-foreground transition-colors{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z">
                </path>
                <path d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z">
                </path>
                <path d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z">
                </path>
            </svg>

            <span class="font-semibold text-xs">دوره‌‌های پی‌‌دی‌‌افی تدریس شده</span>
        </a>
    </li>


    <li>
        <a href="{% url 'account:registered_videos' %}"
           class="w-full h-11 inline-flex items-center text-right gap-3 rounded-full px-4 {% if request.resolver_match.url_name == 'registered_videos' %}bg-primary text-primary-foreground{% else %}bg-background text-muted hover:bg-primary hover:text-primary-foreground transition-colors{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z">
                </path>
            </svg>
            <span class="font-semibold text-xs">دوره‌‌های ویدئویی ثبت نام شده</span>
        </a>
    </li>

    <li>
        <a href="{% url 'account:registered_pdfs' %}"
           class="w-full h-11 inline-flex items-center text-right gap-3 rounded-full px-4 {% if request.resolver_match.url_name == 'registered_pdfs' %}bg-primary text-primary-foreground{% else %}bg-background text-muted hover:bg-primary hover:text-primary-foreground transition-colors{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path d="M18 1.5c2.9 0 5.25 2.35 5.25 5.25v3.75a.75.75 0 0 1-1.5 0V6.75a3.75 3.75 0 1 0-7.5 0v3a3 3 0 0 1 3 3v6.75a3 3 0 0 1-3 3H3.75a3 3 0 0 1-3-3v-6.75a3 3 0 0 1 3-3h9v-3c0-2.9 2.35-5.25 5.25-5.25Z">
                </path>
            </svg>
            <span class="font-semibold text-xs">دوره‌‌های پی‌‌دی‌‌افی ثبت نام شده</span>
        </a>
    </li>

    <li>
        <a href="{% url 'account:favorite_videos' %}"
           class="w-full h-11 inline-flex items-center text-right gap-3 rounded-full px-4 {% if request.resolver_match.url_name == 'favorite_videos' %}bg-primary text-primary-foreground{% else %}bg-background text-muted hover:bg-primary hover:text-primary-foreground transition-colors{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0 1 20.25 6v12A2.25 2.25 0 0 1 18 20.25H6A2.25 2.25 0 0 1 3.75 18V6A2.25 2.25 0 0 1 6 3.75h1.5m9 0h-9"></path>
            </svg>
            <span class="font-semibold text-xs">دوره‌‌های ویدئویی مورد علاقه</span>
        </a>
    </li>

    <li>
        <a href="{% url 'account:favorite_pdfs' %}"
           class="w-full h-11 inline-flex items-center text-right gap-3 rounded-full px-4 {% if request.resolver_match.url_name == 'favorite_pdfs' %}bg-primary text-primary-foreground{% else %}bg-background text-muted hover:bg-primary hover:text-primary-foreground transition-colors{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd"
                      d="M6 3a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3H6Zm1.5 1.5a.75.75 0 0 0-.75.75V16.5a.75.75 0 0 0 1.085.67L12 15.089l4.165 2.083a.75.75 0 0 0 1.085-.671V5.25a.75.75 0 0 0-.75-.75h-9Z"
                      clip-rule="evenodd">
                </path>
            </svg>
            <span class="font-semibold text-xs">دوره‌‌های پی‌دی‌افی مورد علاقه</span>
        </a>
    </li>

    <li>
        <a href="{% url 'account:charge_wallet' %}"
           class="w-full h-11 inline-flex items-center text-right gap-3 rounded-full px-4 {% if request.resolver_match.url_name == 'charge_wallet' %}bg-primary text-primary-foreground{% else %}bg-background text-muted hover:bg-primary hover:text-primary-foreground transition-colors{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M21 12a2.25 2.25 0 0 0-2.25-2.25H15a3 3 0 1 1-6 0H5.25A2.25 2.25 0 0 0 3 12m18 0v6a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 9m18 0V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v3">
                </path>
            </svg>

            <span class="font-semibold text-xs">شارژ کیف پول</span>
        </a>
    </li>

    <li>
        <a href="{% url 'account:notifications' %}"
           class="w-full h-11 inline-flex items-center text-right gap-3 rounded-full px-4 {% if request.resolver_match.url_name == 'notifications' %}bg-primary text-primary-foreground{% else %}bg-background text-muted hover:bg-primary hover:text-primary-foreground transition-colors{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0">
                </path>
            </svg>
            <span class="font-semibold text-xs">اعلانات</span>
        </a>
    </li>

    <li>
        <a href="{% url 'account:edit_profile' slug=request.user.username %}"
           class="w-full h-11 inline-flex items-center text-right gap-3 rounded-full px-4 {% if request.resolver_match.url_name == 'edit_profile' %}bg-primary text-primary-foreground{% else %}bg-background text-muted hover:bg-primary hover:text-primary-foreground transition-colors{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125">
                </path>
            </svg>
            <span class="font-semibold text-xs">ویرایش پروفایل</span>
        </a>
    </li>

    <li>
        <a id="delete-account-link" href="{% url 'account:delete_account' %}"
           class="w-full h-11 inline-flex items-center text-right gap-3 bg-background rounded-full text-muted transition-colors hover:bg-red hover:text-primary-foreground px-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0">
                </path>
                <span class="font-semibold text-xs">حذف حساب کاربری</span>
            </svg>
        </a>
    </li>
</ul>
<!-- end user:menus -->

<!-- In your template containing the delete account link -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteAccountLink = document.querySelector("#delete-account-link");

        deleteAccountLink.addEventListener("click", function (event) {
            event.preventDefault();

            Swal.fire({
                title: 'حذف حساب کاربری',
                text: 'آیا مطمئن هستید که می‌خواهید حساب کاربری خود را حذف کنید؟',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'بله',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.isConfirmed) {
                    // User confirmed, proceed with deletion
                    window.location.href = deleteAccountLink.getAttribute("href");
                }
            });
        });
    });
</script>
