{% load static %}
<!-- user:info -->
<div class="flex items-center gap-5 mb-5">
    <div class="flex items-center gap-3">
        <div class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
            {% if user.image %}
                <img src="{{ user.image.url }}" class="w-full h-full object-cover"
                     alt="..."/>
            {% else %}
                <img src="{% static 'images/avatars/newsman.JPG' %}" class="w-full h-full object-cover"
                     alt="..."/>
            {% endif %}
        </div>
        <div class="flex flex-col items-start space-y-1">
            <span class="line-clamp-1 font-semibold text-sm text-foreground cursor-default">{{ user.username }}</span>
        </div>
    </div>
    {% if request.user.is_authenticated %}
        {% if is_following %}
            <button type="button" id="follow-btn"
                    onclick="toggle_follow('{{ user.id }}')"
                    class="flex items-center justify-center gap-1 w-36 h-10 bg-red-500 rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                <span class="font-semibold text-sm">آن‌فالو</span>
                <svg id="follow-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM4 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 10.374 21c-2.331 0-4.512-.645-6.374-1.766Z"></path>
                </svg>
            </button>
        {% else %}
            <button type="button" id="follow-btn"
                    onclick="toggle_follow('{{ user.id }}')"
                    class="flex items-center justify-center gap-1 w-36 h-10 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                <span class="font-semibold text-sm">فالو</span>
                <svg id="follow-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"></path>
                </svg>
            </button>
        {% endif %}
    {% else %}
        <button type="button" id="follow-btn"
                class="login-first flex items-center justify-center gap-1 w-36 h-10 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
            <span class="font-semibold text-sm">فالو</span>
            <svg id="follow-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"></path>
            </svg>
        </button>
    {% endif %}


</div>
<!-- end user:info -->
