{% load static %}
{% load filters %}
<!-- statistics:items:wrapper -->
<div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-5 mb-8">

    <!-- statistics:item -->
    <div class="flex items-center gap-3 bg-secondary rounded-2xl cursor-default p-3">
                                    <span class="flex items-center justify-center w-12 h-12 bg-background rounded-full text-yellow-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                             class="w-5 h-5">
                                            <path fill-rule="evenodd"
                                                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
        <div class="flex flex-col items-start text-right space-y-1">
            <span class="font-bold text-xs text-muted line-clamp-1">امتیازات</span>
            <span class="font-bold text-sm text-foreground line-clamp-1">{{ user.stars|price_splitter }}</span>
        </div>
    </div>
    <!-- end statistics:item -->

    <!-- statistics:item -->
    <button onclick="showFollowers('{{ request.user.id }}', '{{ user.id }}')">
        <div class="flex items-center gap-3 bg-secondary rounded-2xl cursor-default p-3">
                                    <span class="flex items-center justify-center w-12 h-12 bg-background rounded-full text-blue-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                          <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"></path>
                                        </svg>
                                    </span>
            <div class="flex flex-col items-start text-right space-y-1">
                <span class="font-bold text-xs text-muted line-clamp-1">فالور</span>
                <div class="flex items-center gap-1">
                                            <span id="follower-count"
                                                  class="font-bold text-sm text-foreground">{{ user.followers.count }}</span>
                </div>
            </div>
        </div>
    </button>
    <!-- end statistics:item -->


    <!-- statistics:item -->
    <button onclick="showFollowings('{{ request.user.id }}', '{{ user.id }}')">
        <div class="flex items-center gap-3 bg-secondary rounded-2xl cursor-default p-3">
                                    <span class="flex items-center justify-center w-12 h-12 bg-background rounded-full text-red-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                          <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"></path>
                                        </svg>
                                    </span>
            <div class="flex flex-col items-start text-right space-y-1">
                <span class="font-bold text-xs text-muted line-clamp-1">فالویینگ</span>
                <span class="font-bold text-sm text-foreground line-clamp-1">{{ user.following.count }}</span>
            </div>
        </div>
        <!-- end statistics:item -->
    </button>


</div>
<!-- end statistics:wrapper -->

<script src="{% static 'js/vendor/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/ajax/showFollowers_ajax.js' %}"></script>
<script src="{% static 'js/ajax/showFollowings_ajax.js' %}"></script>