{% extends 'base.html' %}
{% load ratings %}
{% load filters %}
{% load static %}

<style>
    #postDetailContainer {
        position: relative;
    }

    textarea {
        width: 100%;
        height: 100px;
        resize: vertical; /* Allow vertical resizing */
        padding: 6px;
        box-sizing: border-box;
    }

</style>

{% block content %}
    <div class="flex flex-col min-h-screen bg-background">
        {% include 'includes/header.html' %}
        <main class="flex-auto py-5">
            <div class="max-w-7xl space-y-14 px-4 mx-auto">
                <div class="grid md:grid-cols-12 grid-cols-1 items-start gap-5">
                    <div class="lg:col-span-3 md:col-span-4 md:sticky md:top-24">

                        {% include 'includes/owner_user_info.html' %}

                        {% include 'includes/owner_user_menu.html' %}

                    </div>

                    <div class="lg:col-span-9 md:col-span-8">
                        <div class="space-y-10">

                            {% include 'includes/owner_statistics.html' %}

                            <div class="space-y-5">
                                <div class="flex items-center gap-3">
                                    <div class="flex items-center gap-1">
                                        <div class="w-1 h-1 bg-foreground rounded-full"></div>
                                        <div class="w-2 h-2 bg-foreground rounded-full"></div>
                                    </div>
                                    <div class="font-black text-foreground">پست‌ها</div>
                                </div>

                                <div class="swiper col3-swiper-slider">
                                    <div class="swiper-wrapper">

                                        <div class="swiper-slide">
                                            <div class="relative">
                                                <div class="relative z-10">
                                                    <a onclick="showAddPostForm()"
                                                       class="block">
                                                        <img src="{% static 'images/screens/add-post.jpg' %}"
                                                             class="max-w-full rounded-3xl" alt=""/>
                                                    </a>
                                                </div>

                                                <div class="bg-background rounded-b-3xl -mt-12 pt-12">
                                                    <div class="bg-gradient-to-b from-background to-secondary rounded-b-3xl space-y-2 p-5 mx-5">
                                                        <h2 class="font-bold text-sm">
                                                            <a onclick="showAddPostForm()"
                                                               class="line-clamp-1 text-foreground transition-colors hover:text-primary">افزودن
                                                                پست</a>
                                                        </h2>
                                                    </div>
                                                    <div class="space-y-3 p-5">
                                                        <div class="flex items-center justify-between gap-5">
                                                            <div class="flex items-center gap-3">
                                                                <div class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
                                                                    {% if user.image %}
                                                                        <img src="{{ user.image.url }}"
                                                                             class="w-full h-full object-cover"
                                                                             alt="تصویر پروفایل"/>
                                                                    {% else %}
                                                                        <img src="{% static 'images/avatars/default_user.JPG' %}"
                                                                             class="w-full h-full object-cover"
                                                                             alt="تصویر پروفایل"/>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="flex flex-col items-start space-y-1">
                                                                    <a href="{% url 'account:profile' user.slug %}"
                                                                       class="line-clamp-1 font-bold text-xs text-foreground hover:text-primary">{{ user.username }}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-y-3 mt-3">
                                                            <a onclick="showAddPostForm()"
                                                               class="w-full h-11 inline-flex items-center justify-center gap-1 bg-red-500 rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                                                <span class="font-semibold text-sm">افزودن پست</span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                     viewBox="0 0 24 24" stroke-width="1.5"
                                                                     stroke="currentColor" class="w-6 h-6">
                                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                                          d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z">
                                                                    </path>
                                                                </svg>

                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        {% for post in posts %}
                                            <div class="swiper-slide">
                                                <div class="relative">
                                                    <div class="relative z-10">
                                                        <a onclick="showPostDetail(
                                                                '{{ post.file.url }}',
                                                                '{{ post.title }}',
                                                                '{{ post.caption }}',
                                                                '{{ post.id }}',
                                                                )"
                                                           class="block">
                                                            <img src="{{ post.file.url }}"
                                                                 class="max-w-full rounded-3xl" alt=""/>
                                                        </a>
                                                    </div>

                                                    <div class="bg-background rounded-b-3xl -mt-12 pt-12">
                                                        <div class="bg-gradient-to-b from-background to-secondary rounded-b-3xl space-y-2 p-5 mx-5">
                                                            {% ratings post %}

                                                            <h2 class="font-bold text-sm">
                                                                <a onclick="showPostDetail(
                                                                        '{{ post.file.url }}',
                                                                        '{{ post.title }}',
                                                                        '{{ post.caption }}',
                                                                        '{{ post.id }}',
                                                                        )"
                                                                   class="line-clamp-1 text-foreground transition-colors hover:text-primary">{{ post.title }}</a>
                                                            </h2>
                                                        </div>
                                                        <div class="space-y-3 p-5">
                                                            <div class="flex items-center justify-between gap-5">
                                                                <div class="flex items-center gap-3">
                                                                    <div class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
                                                                        {% if post.user.image %}
                                                                            <img src="{{ post.user.image.url }}"
                                                                                 class="w-full h-full object-cover"
                                                                                 alt="تصویر پروفایل"/>
                                                                        {% else %}
                                                                            <img src="{% static 'images/avatars/default_user.JPG' %}"
                                                                                 class="w-full h-full object-cover"
                                                                                 alt="تصویر پروفایل"/>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="flex flex-col items-start space-y-1">
                                                                        <a href="{% url 'account:profile' user.slug %}"
                                                                           class="line-clamp-1 font-bold text-xs text-foreground hover:text-primary">{{ post.user.username }}</a>
                                                                    </div>
                                                                </div>
                                                                <button id="deletePostBtn" data-post-id="{{ post.id }}"
                                                                        class="text-red-500 hover:opacity-80">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                         viewBox="0 0 24 24" stroke-width="1.5"
                                                                         stroke="currentColor" class="w-6 h-6">
                                                                        <path stroke-linecap="round"
                                                                              stroke-linejoin="round"
                                                                              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0">
                                                                        </path>
                                                                    </svg>
                                                                </button>

                                                            </div>
                                                            <div class="space-y-3 mt-3">
                                                                <a onclick="showPostDetail(
                                                                        '{{ post.file.url }}',
                                                                        '{{ post.title }}',
                                                                        '{{ post.caption }}',
                                                                        '{{ post.id }}',
                                                                        )"
                                                                   class="w-full h-11 inline-flex items-center justify-center gap-1 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                                                    <span class="font-semibold text-sm">مشاهده پست</span>
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                         viewBox="0 0 20 20" fill="currentColor"
                                                                         class="w-5 h-5">
                                                                        <path fill-rule="evenodd"
                                                                              d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                                                              clip-rule="evenodd"></path>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}


                                    </div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                </div>
                                <!-- end section:learning-courses:slider -->
                            </div>
                            <!-- end section:learning-courses -->
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include 'includes/footer.html' %}
    </div>

    <script src="{% static 'js/ajax/post_crud_ajax.js' %}"></script>

{% endblock %}
